*                                           @nxlllllll

/FinanceTracker.Core/                       @nxlllllll
/FinanceTracker.Application/                @nxlllllll
/FinanceTracker.Infrastructure/             @nxlllllll
/FinanceTracker.Migrator/Migrations/        @nxlllllll
/.github/                                   @nxlllllll
