POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=FinanceTracker
DB_CONNECTION_STRING=Host=postgres;Database=FinanceTracker;Username=postgres;Password=change_me;Pooling=true;MaxPoolSize=100

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=change_me

JWT_SECRET=change_me_min_32_chars_long_secret

EXCHANGE_RATE_API_KEY=change_me

GRAFANA_PASSWORD=change_me