bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
.idea/
/.config
/alertmanager/alertmanager.yml
*.sln.DotSettings.user
